<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <meta charset="utf-8" />


</head>

<body>
  
  <h1>Welcome to Hazard a Guess!</h1>
  <form action="/lobby" method="POST">
    <button type="submit">
      Start Lobby
    </button>

  </form>

  <button type="button" id="settingsButton">Settings</button>



  <!-- the script below is for pure testing of if the cookie works  -->
  <p id="demo">Click me.</p>
  <script>
  document.getElementById("demo").onclick = function() {testCookie()};
  function testCookie() {
    var username = document.cookie
    console.log(username)
    document.getElementById("demo").innerHTML = "the cookie value is " + username
  }
  </script>
  <!-- cookies will now store the username value -->

  <!-- <script defer src="/src/public/fetchMode.js">  </script> -->
</body>

</html>