<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/src/public/darkmode.css" />
  <script defer type="text/javascript" src="/src/public/fetchMode.js"></script>
  <script defer type="text/javascript" src="/src/public/setMode.js"></script>
  <meta charset="utf-8" />
  <script defer type="text/javascript" src="/src/public/utils.js"></script>

</head>

<body>
  <div class = "mx-5 my-5 px-2 py-2 border border-primary border-3 rounded-3 bg-primary">
    <h1 style="text-align:center">Welcome to Hazard a Guess!</h1>
  </div>
  <div style="text-align:center; margin: 2vw 10vw 2vw 10vw;" class = "px-2 py-2 d-flex justify-content-evenly">

    <form action="/lobby" method="POST" class="col-3">
      <button type="submit" class="btn btn-primary" style="width:100%;">Start Lobby</button>
    </form>
    <button type="button" onclick="window.location.href='/user/stats'" class="btn btn-primary col-3">Your Statistics</button>

  </div>
  <div style="text-align:center; margin: 2vw 10vw 2vw 10vw;" class = "px-2 py-2 d-flex justify-content-evenly" >
    <button type="button" onclick="window.location.href='/user/friends'" class ="btn btn-primary col-3">Friends</button>
    <button type="button" onclick="window.location.href='/user/settings'" class="btn btn-primary col-3" id="settingsButton">Settings</button>
  </div>
</body>

</html>