<!DOCTYPE html>
<html lang="en">

<head>
  <title>LOBBY</title>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <!-- NO TOUCHY--> <script src="/socket.io/socket.io.js"></script> <!---->
  <script>
    if (1 === 1) {
    const socket = io({ autoConnect: false });

    socket.onAny((event, ...args) => {
      console.log(event, args);
    })

    // This will fire if the server is not happy with the connection.
    socket.on('connect_error', (err) => {
      // If this is true, then the playername is bad.
      if (err.message === 'invalid_playername') {
      console.log('Problem with your username')
      }
    });

    /*socket.on('redirect', (address, identity) => {
      sessionStorage.setItem('identity', identity)
      console.log(identity)
      window.location.href = address
    })*/

    // Wait for the window to finish loading before adding event listeners.
    window.onload = function () {
      // When the user clicks the joingame button, their username is and sent to the server.
      // If the server is happy, they a socket connection is established.
      document.getElementById('joingame').addEventListener('click', function (evt) {
        // We need to actually get the username here.
        socket.auth = { 'playerName': 'Petzl11'}
        socket.connect()
      })
    }
  }

  </script>
</head>

<style>
  .gameMode label {
    display: inline-block;
    width: 200px;
    padding: 10px;
    border: solid 2px #ccc;
    transition: all 0.3s;
    cursor: pointer;
  }

  .gameMode input[type="radio"] {
    display: none;
  }

  .gameMode input[type="radio"]:checked+label {
    border: solid 2px blue;
  }
</style>

<body>
  <h1>Welcome to Hazard a Guess Lobby!</h1>
  <h2>Waiting for players...</h2>

  <br />
  <h2>Choose a game mode:</h2>

  <form action="/lobby/create" method="POST" class="gameMode">
    <input type="radio" id="standardRadio" value="Standard" name="gameModeInput" checked="true" />
    <label for="standardRadio">Standard</label>

    <input type="radio" id="customRadio" value="Custom" name="gameModeInput" />
    <label for="customRadio">Custom</label>

    <button type="submit" class="btn btn-primary" style="margin: 0.5em">
      Start Game
    </button>
  </form>

  <!-- NO TOUCHY -->
  <button id="joingame">Join Game</button><!---->
</body>

</html>