<!DOCTYPE html>
<html lang="en">

<head>
  <title>LOBBY</title>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <script type="text/javascript" src="/src/public/lobby.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io({ autoConnect: false });

    socket.onAny((event, ...args) => {
      console.log(event, args);
    })

    socket.on("connect_error", (err) => {
      if (err.message === "invalid username") {
        console.log('Invalid username');
      }
    });

    socket.on("users", (users) => {
      users.forEach((user) => {
        user.self = user.userID === socket.id;
        console.log(user.userID)
      });

      window.onload = function () {
        document.getElementById('joingame').addEventListener('click', function (evt) {
          // We need to actually get the username here.
          socket.auth = { 'username': 'usrname' }
          socket.connect()
          console.log('hi')
        })
      }
  </script>
</head>

<style>
  .gameMode label {
    display: inline-block;
    width: 200px;
    padding: 10px;
    border: solid 2px #ccc;
    transition: all 0.3s;
    cursor: pointer;
  }

  .gameMode input[type="radio"] {
    display: none;
  }

  .gameMode input[type="radio"]:checked+label {
    border: solid 2px blue;
  }
</style>

<body>
  <h1>Welcome to Hazard a Guess Lobby!</h1>
  <h2>Waiting for players...</h2>

  <br />
  <h2>Choose a game mode:</h2>

  <form action="/lobby/create" method="POST" class="gameMode">
    <input type="radio" id="standardRadio" value="Standard" name="gameModeInput" checked="true" />
    <label for="standardRadio">Standard</label>

    <input type="radio" id="customRadio" value="Custom" name="gameModeInput" />
    <label for="customRadio">Custom</label>

    <button type="submit" class="btn btn-primary" style="margin: 0.5em">
      Start Game
    </button>
  </form>

  <button id="joingame">Join Game</button>
</body>

</html>