<!DOCTYPE html>
<html lang="en">

<head>
  <title>LOBBY</title>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <script type="module" src="/src/public/lobby.js"></script>
</head>

<style>
  .gameMode label {
    display: inline-block;
    width: 200px;
    padding: 10px;
    border: solid 2px #ccc;
    transition: all 0.3s;
    cursor: pointer;
  }

  .gameMode input[type="radio"] {
    display: none;
  }

  .gameMode input[type="radio"]:checked+label {
    border: solid 2px blue;
  }
</style>

<body>
  <h1>Welcome to Hazard a Guess Lobby!</h1>
  <h2 id="openGames"></h2>

  <br />
  <h2>Choose a game mode:</h2>

  <form action="/lobby/create" method="POST" class="gameMode">
    <input type="radio" id="standardRadio" value="Standard" name="gameModeInput" checked="true" />
    <label for="standardRadio">Standard</label>

    <input type="radio" id="customRadio" value="Custom" name="gameModeInput" />
    <label for="customRadio">Custom</label>

    <label for="numPlayers">Choose number of players (between 1 and 10):</label>
    <input type="number" id="numPlayers" name="numPlayers" min="1" max="10">
    <!-- No input checking is currently present, we should address this next sprint! -->
    <button type="submit" class="btn btn-primary" style="margin: 0.5em">
      Start Game
    </button>
  </form>

  <div>
    <table class="table" id="gameInfo">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Available Slots</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>@fat</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>