<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hazard a Guess | Match History</title>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer type="text/javascript" src="/src/public/utils.js"></script>
    <script defer type="text/javascript" src="/src/public/matchStats.cjs"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script defer type="text/javascript" src="/src/public/setMode.js"></script>
</head>

<body style="color:black">
    <h1 id="matchHeading">All guesses made:</h1>
    <div class="allGuesses" style="display: block;">
        <table class="table table-striped" style="width:100%" id="guessTable">
            <thead class="tableHead">
                <tr class="tableHeadRow">
                    <th>Guess Number</th>
                    <th>Word Guessed</th>
                    <th>Time Stamp</th>
                </tr>
            </thead>
            <tbody class="guessTableBody"></tbody>
            <tr class="guessTableBodyRow"></tr>
        </table>
    </div>
</body>

</html>