<!DOCTYPE html>
<html lang="en">

<head>
    <title>Match History</title>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer type="text/javascript" src="/src/public/utils.js"></script>
    <script defer type="text/javascript" src="/src/public/matchStats.cjs"></script>
    <script defer type="text/javascript" src="/src/public/setMode.js"></script>
</head>

<body style="color:black">
    <h1 id="matchHeading">All guesses made:</h1>
    <div class="allGuesses" style="display: block;">
        <table class="guessTable" style="width:100%">
            <thead class="tableHead">
                <tr class="tableHeadRow">
                    <th>Guess Number</th>
                    <th>Word Guessed</th>
                    <th>Time Stamp</th>
                </tr>
            </thead>
            <tbody class="guessTableBody"></tbody>
            <tr class="guessTableBodyRow"></tr>
        </table>
    </div>
</body>

</html>