<!DOCTYPE html>
<html lang="en">

<head>
    <title>Game Settings</title>
    <meta charset="utf-8" />
    
    <!-- defer means that the JS code is executed after the DOM is fully built -->
    <script defer src="/public/settings.js"></script>
    <script defer type="text/javascript" src="/public/sendToServer.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    <h1 id="heading">Game Settings</h1>
    <p id="results" style="font-size: 15px; font-weight: bold;"></p>
    <button type="button" class="btn btn-primary" id="darkButton">Dark Mode</button>
    <button type="button" class="btn btn-primary" id="lightButton">Light Mode</button>
    <button type="button" class="btn btn-primary" id="backButton">Back</button>
    <p id="status"></p>
    <p id="msgFmServer"></p>
</body>
</html>