
#gridContainer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  flex-wrap: nowrap;
  background-color: transparent !important;
}
#playerDiv{
  display: block;
  order: 2;
  width:60%;
}
#opponentsDivLeft {
  order: 1;
  width:20%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: flex-start;
}
#opponentsDivRight{
  order: 3;
  width:20%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: flex-start;
}


.wordleRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

#opponentsDivLeft .wordleDiv, #opponentsDivRight .wordleDiv{
  width: 100%;
  padding-bottom: 10%;
  height: 25vh;
}

#opponentsDivLeft .wordleDiv .wordleRow .block, #opponentsDivRight .wordleDiv .wordleRow .block{
  flex-grow: 1;
  margin: 2px;
  border-radius: 10%;
  min-height: 2vh;
  max-width: 2vh;
  text-align: center;
}
#playerDiv .wordleDiv .wordleRow .block{
  flex-grow: 1;
  margin: 5px;
  border-radius: 10%;
  min-height: 3vw;
  text-align: center;
  max-width: 3vw;
}

h2{
  text-align: center;
}



#keyboardDiv {
  padding-top: 5%;
  padding-bottom: 10%;
  display: block;
  width: 80%;
  text-align: center;
  margin: auto;
}
.keyboardRow{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
#keyboardDiv .keyboardRow .key{
  flex-grow: 1;
  margin: 5px;
  border-radius: 10%;
  cursor: pointer;
  min-height: 3vw;
  text-align: center;
}


@media only screen and (max-width: 800px) {
  #gridContainer{
    flex-wrap: wrap !important;
  }
  #playerDiv{
    order: 1 !important;
    width:100% !important;
  }
  #opponentsDivLeft {
    order: 2 !important;
    width:100% !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
  }
  #opponentsDivRight{
    order: 3 !important;
    width: 100% !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
  }

  #opponentsDivLeft .wordleDiv, #opponentsDivRight .wordleDiv{
    width: 100% !important;
    padding-bottom: 5% !important;
    height: 100% !important;
  }

  h2{
    font-size: 0.75em;
  }
    
  #keyboardDiv {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#spinner {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 250px;
  height: 100px;
}

.container{
  visibility: hidden;
  position: relative;
  justify-content: center;
  display: flex;
}

.containerBackground{
  position: relative;
  justify-content: center;
  display: flex;
}

.background-popup-visible{
  visibility: visible;
}

body{
  min-height: 100%;
  min-width: 100%;
  background-size:100% 100%;
  background-repeat:no-repeat;
  overflow-x: hidden;
} 